log_format vhost '$host $remote_addr - $remote_user [$time_local] '
                 '"$request" $status $body_bytes_sent '
                 '"$http_referer" "$http_user_agent"';

server {
        server_name _; # This is just an invalid value which will never trigger on a real hostname.
        listen 80;
        access_log /var/log/nginx/access.log vhost;
        return 503;
}

{{ range $domain, $container := . }}
upstream {{ $domain }} {
    {{ range $_, $value := $container }}
         server {{ $value.Address }}:{{ $value.Port }};
    {{ end }}
}
server {
        server_name {{ $domain }};
        listen 80;
        access_log /var/log/nginx/access.log vhost;
        location / {
                proxy_pass http://{{ $domain }};
        }
}
{{ end }}
